#slides-1{background-size: cover;background-repeat: no-repeat;}
#slides-2{background-size: cover;background-repeat: no-repeat;}
#slides-3{background-size: cover;background-repeat: no-repeat;}
#slides-4{background-size: cover;background-repeat: no-repeat;}
#slides-5{background-size: cover;background-repeat: no-repeat;}
#slides-6{background-size: cover;background-repeat: no-repeat;}
#slides-7{background-size: cover;background-repeat: no-repeat;}
#slides-8{background-size: cover;background-repeat: no-repeat;}
#slides-9{background-size: cover;background-repeat: no-repeat; background-position: center;}
#slides-10{background-size: cover;background-repeat: no-repeat; background-position: center;}
#slides-11{background-size: cover;background-repeat: no-repeat;}
#slides-12{background-size: cover;background-repeat: no-repeat;}
#slides-13{background-size: cover;background-repeat: no-repeat;}
#slides-14{background-size: cover;background-repeat: no-repeat;}
#slides-15{background-size: cover;background-repeat: no-repeat;}
#slides-16{background-size: cover;background-repeat: no-repeat;}
#slides-17{background-size: cover;background-repeat: no-repeat; background-position: center;}
#slides-18{background-size: cover;background-repeat: no-repeat; background-position: center;}
#slides-19{background-size: cover;background-repeat: no-repeat;}
#slides-20{background-size: cover;background-repeat: no-repeat;}
#slides-21{background-size: cover;background-repeat: no-repeat;}
#slides-22{background-size: cover;background-repeat: no-repeat;}
#slides-23{background-size: cover;background-repeat: no-repeat;}
#slides-24{background-size: cover;background-repeat: no-repeat;}
#slides-25{background-size: cover;background-repeat: no-repeat;}
#slides-26{background-size: cover;background-repeat: no-repeat;}
#slides-27{background-size: cover;background-repeat: no-repeat;}
#slides-28{background-size: cover;background-repeat: no-repeat; background-position: center;}
#slides-29{background-size: cover;background-repeat: no-repeat; background-position: center;}
#slides-30{background-size: cover;background-repeat: no-repeat; background-position: center;}
#slides-31{background-size: cover;background-repeat: no-repeat;}
#slides-32{background-size: cover;background-repeat: no-repeat;}
#slides-33{background-size: cover;background-repeat: no-repeat;}
#slides-34{background-size: cover;background-repeat: no-repeat;}
#slides-35{background-size: cover;background-repeat: no-repeat;}
#slides-36{background-size: cover;background-repeat: no-repeat;}
#slides-37{background-size: cover;background-repeat: no-repeat;}
#slides-38{background-size: cover;background-repeat: no-repeat; background-position: center;}
#slides-39{background-size: cover;background-repeat: no-repeat;}
#slides-40{background-size: cover;background-repeat: no-repeat;}
#slides-41{background-size: cover;background-repeat: no-repeat;}
#slides-42{background-size: cover;background-repeat: no-repeat;}
#slides-43{background-size: cover;background-repeat: no-repeat;}
#slides-44{background-size: cover;background-repeat: no-repeat;}
#slides-45{background-size: cover;background-repeat: no-repeat;}
#slides-46{background-size: cover;background-repeat: no-repeat;}
#slides-47{background-size: cover;background-repeat: no-repeat;}
#slides-48{background-size: cover;background-repeat: no-repeat;}
#slides-49{background-size: cover;background-repeat: no-repeat;}
#slides-50{background-size: cover;background-repeat: no-repeat;}